// Prefix
@eleph-prefix: 'eleph';

// Color variables
@black: #000;
@white: #fff;
@gloomy-color: #f2f2f2;
@light-color: #e6e6e6;

// Font size
@base-font-size: 14px;

// Skeleton
@skeleton-background-color: @gloomy-color;
